In [1]:
from astroquery.simbad import Simbad

In [4]:
result_table = Simbad.query_object("HD86201")

In [5]:
result_table

<Table length=1>
 MAIN_ID        RA           DEC      ... COO_WAVELENGTH     COO_BIBCODE
             "h:m:s"       "d:m:s"    ...
  object      str13         str13     ...      str1             object
--------- ------------- ------------- ... -------------- -------------------
HD  86201 09 55 00.6314 -58 28 03.088 ...              O 2018yCat.1345....0G

In [7]:
t = Simbad.query_

C:\Users\Jude\anaconda3\lib\site-packages\astroquery\simbad\core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): 'M32': java.text.ParseException: Encountered " <FIELD> "M32 " <EOF>" at line 1, column 1. M32 ^
  warnings.warn("Warning: The script line number %i raised "

In [8]:
t